{% extends 'layout.twig' %}

{% block content %}
<h1>Add Job</h1>
<form action="add" method="post" enctype="multipart/form-data">
    <label for="">Title:</label>
    <input type="text" name="title" ><br>
    <label for="">Description:</label>
    <input type="text" name="description"><br>
    <label for="">Logo:</label>
    <input type="file" name="logo"><br>

    <button type="submit">Save</button>
</form>
{% endblock %}
 